body {
    margin: 0;
    background: #f7f4ef;
    font-family: Arial;
}

.sidebar {
    width: 230px;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.logo {
    width: 55px;
    margin-left: 20px;
}

.brand {
    color: #b30000;
    margin-left: 20px;
    margin-top: -10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: #f4ece6;
    border-radius: 8px;
}

.content {
    margin-left: 260px;
    padding: 40px;
}

.box {
    background: white;
    padding: 0;
    border-radius: 12px;
    width: 450px;
}

.header {
    background: #8c0000;
    color: white;
    padding: 15px;
    border-radius: 12px 12px 0 0;
    font-weight: bold;
}

.photo {
    width: 90px;
    height: 90px;
    background: #d8d8d8;
    border-radius: 50%;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px 20px 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 0 20px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.ubah {
    color: red;
    font-size: 14px;
    margin: 0 20px 20px;
    cursor: pointer;
}