body {
    margin: 0;
    font-family: Arial;
    background: #f7f4ef;
}

.sidebar {
    width: 230px;
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.logo {
    width: 55px;
    margin-left: 20px;
}

.brand {
    color: #b30000;
    margin-left: 20px;
    margin-top: -10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: #f4ece6;
    border-radius: 8px;
}

.content {
    margin-left: 260px;
    padding: 40px;
}

.title {
    color: #8c0000;
}

.table-box {
    margin-top: 20px;
    background: white;
    border-radius: 12px;
}

.table-header {
    background: #8c0000;
    color: white;
    padding: 15px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.btn-add {
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

tr {
    border-bottom: 1px solid #ddd;
}

.btn-view {
    background: #8c0000;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}